.eshop-mobile {
  .header {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .eshop-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: auto;
  }

  .eshop-content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .product {
      flex: 1;
      width: 100%;

      img {
        height: 500px;
      }
    }
  }

  .footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}