.about {
  position: absolute;
  top: 75px;
  bottom: 75px;
  left: 0;
  right: 0;
  overflow: auto;

  .about-desktop {
    display: flex;

    .images {
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        max-width: 500px;
        object-fit: cover;
      }
    }

    .text {
      flex: 1;
      display: flex;
      justify-content: center;

      .text-container {
        margin-top: 100px;
        width: 500px;
        display: flex;
        gap: 50px;
        flex-direction: column;

        p {
          font-size: 30px;
        }
      }
    }
  }

  .about-mobile {
    height: 100%;

    .background-image {
      height: 100%;
      width: 100%;
      background-image: url("../../../public/images/calendar.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: fixed;
    }

    .text {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .text-container {
        background-color: white;
        margin: 25px;
        padding: 15px;

        p {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}