.about-desktop {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  .header {
    flex-shrink: 0;
  }

  .about-content {
    flex-grow: 1;
    min-height: 2em;
    padding: 0 5%;
    display: flex;
    gap: 50px;

    .images::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .images {
      width: 55%;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      overflow-y: auto;
      position: relative;

      .about1 {
        width: 75%;
        position: absolute;
        top: 10px;
        left: 50px;
        z-index: -1;
      }

      .about3 {
        width: 45%;
        position: absolute;
        top: 380px;
        right: 0;
      }

      .about4 {
        width: 45%;
        position: absolute;
        top: 510px;
        left: 0;
        z-index: -1;
      }

      .about2 {
        width: 60%;
        position: absolute;
        top: 930px;
        right: 70px;
        z-index: -1;
      }
    }

    .text {
      height: 100%;
      width: 45%;
      margin-top: 10px;
      display: flex;
      justify-content: center;

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        p {
          font-size: 4vh;
        }

        a {
          color: black;
        }

        .details {
          display: flex;
          justify-content: space-between;
          height: 140px;

          .order-yours-container {
            width: 60%;
            display: flex;
            justify-content: center;

            .order-yours {
              height: 100%;
            }
          }

          p {
            width: 40%;
            font-size: 2.5vh;
          }
        }
      }
    }
  }

  .footer {
    flex-shrink: 0;
  }
}

.about-mobile {

  .header {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .about-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: auto;

    .about-content {
      margin: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        font-size: 2.1em;
      }

      .calendar-img {
        height: 500px;
        object-fit: cover;
      }

      .text {
        width: 75%;
      }

      .button {
        position: relative;

        img {
          width: 50%;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}