.about-desktop {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  .header {
    flex-shrink: 0;
  }

  .about-content {
    flex-grow: 1;
    min-height: 2em;
    padding: 0 5%;
    display: flex;
    gap: 50px;

    .images::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .images {
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      flex: 5;
      overflow-y: auto;
      position: relative;

      .about1 {
        width: 75%;
        position: absolute;
        top: 0;
        left: 50px;
        z-index: -1;
      }

      .about3 {
        width: 45%;
        position: absolute;
        top: 170px;
        right: 0;
      }

      .about4 {
        width: 45%;
        position: absolute;
        top: 400px;
        left: 0;
        z-index: -1;
      }

      .about2 {
        width: 60%;
        position: absolute;
        top: 740px;
        right: 70px;
        z-index: -1;
      }
    }

    .text {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;

      .text-container {
        display: flex;
        gap: 40px;
        flex-direction: column;

        p {
          font-size: 1.8em;
        }

        .details {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          p {
            font-size: 20px;
          }

          img {
            height: 120px;
          }
        }
      }
    }
  }

  .footer {
    flex-shrink: 0;
  }
}

.about-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .about-content {
    position: absolute;
    top: 75px;
    bottom: 75px;
    left: 0;
    right: 0;
    overflow: auto;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 1.5em;
      }

      .details {
        display: flex;

        p {
          flex: 1;
          font-size: 0.6em;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}