.home-container {
  height: 100%;
  width: 100%;
  position: fixed;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .text-container {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    color: white;
    text-decoration: none;

    h2 {
      text-decoration: underline;
      font-size: 23px;
      margin: 15px 0;
    }

    .logo {
      width: 97.5%;
      font-family: "GT America Extended Black", sans-serif;
    }

    &:hover {
      cursor: pointer;
    }
  }
}