.home-container {
  height: 100%;
  width: 100%;
  position: fixed;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .logo-container {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: auto;
      width: 100%;
    }
  }
}