.footer {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: white;

  a {
    text-decoration: none;
    color: black;
    font-size: 30px;
  }

  .selected {
    font-weight: bold;
  }
}