.eshop-desktop {
  display: flex;
  justify-content: center;

  .header {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }

  .eshop-content {
    margin: 5% 0;
    max-width: fit-content;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;

    .product {
      flex-basis: 23%;
    }
  }
}