.eshop-desktop {
  height: 100%;
  display: flex;
  justify-content: center;

  .header {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }

  .eshop-content {
    width: 90%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .product {
      flex-basis: 23%;
    }
  }
}