.eshop-desktop {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .eshop-content {
    height: 80%;
    max-width: 90%;
    display: flex;
    flex-direction: column;

    .row {
      height: 100%;
      display: flex;
      gap: 20px;

      .product {
        flex: 1;
      }
    }
  }
}

.eshop-mobile {

  .header {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .eshop-content {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;


  }

  .footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}

